<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>APAGAR REGISTRO</title>
    </head>
    <body>
        APAGAR REGISTRO - DIGITE O ID DO REGISTRO A SER APAGADO ABAIXO:

        <div>
            <form method="POST">
                <br>
                <br>
                id:
                <input type="text" name="id">
                <br>
                <br>
                <input type="submit" value="Delete">
            </form>
        </div>
    </body>
</html>