<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<br>
OLÁ! SELECIONE ALGUMA OPÇÃO ABAIXO ABAIXO:

<div>
    <form method="post">
        <br>
        <br>
        <a href="http://127.0.0.1:5000/consulta_geral">
            <input type="button" value="consulta geral">
        </a>
        <br>
        <br>
        <a href="http://127.0.0.1:5000/consulta_esp">
            <input type="button" value="consulta especifica">
        </a>
        <br>
        <br>
        <a href="http://127.0.0.1:5000/inserir">
            <input type="button" value="inserir novo registro">
        </a>
        <br>
        <br>
        <a href="http://127.0.0.1:5000/remover">
            <input type="button" value="remover registro">
        </a>

    </form>
</div>
</body>
</html>