<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>INSERIR NOVO REGISTRO</title>
    </head>
    <body>
        INSERIR NOVO REGISTRO

        <div>
            <form method="post">
                <br>
                <br>
                id:
                <input type="text" name="id">
                <br>
                <br>
                name:
                <input type="text" name="name">
                <br>
                <br>
                company:
                <input type="text" name="company">
                <br>
                <br>
                amount:
                <input type="text" name="amount"> <br>
                <br>
                <br>
                <input type="submit" value="Insert">
            </form>
        </div>
    </body>
</html>